<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnxx.zy.clms.core.mapper.ArticleTypeMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hnxx.zy.clms.core.entity.ArticleType">
        <id column="type_id" property="typeId"/>
        <result column="type_name" property="typeName"/>
        <result column="type_count" property="typeCount"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="version" property="version"/>
    </resultMap>
    <!-- 通用查询列 -->
    <sql id="Base_Column_list">
        type_id, type_name, type_count, created_time, update_time, is_enabled, is_deleted, version
    </sql>
    <!-- 保存添加 文章类型 -->
    <insert id="save" parameterType="com.hnxx.zy.clms.core.entity.ArticleType">
        insert into cl_article_type(
            type_name
        ) values (
            #{typeName}
        )
    </insert>
    <!-- 根据名称查询 -->
    <select id="getByName" resultMap="BaseResultMap">
        select
        type_id, type_name, type_count, is_deleted, version
        from cl_article_type
        where type_name = #{typeName}
        and is_deleted = 0
    </select>
    <!-- 根据id查询 -->
    <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        type_id, type_name, type_count, is_deleted, version
        from cl_article_type
        where type_id = #{id}
        and is_deleted = 0
    </select>
    <!-- 前台查询所有 未删除 已启用 -->
    <select id="getList" resultMap="BaseResultMap">
        select
        type_id, type_name, type_count
        from cl_article_type
        where is_deleted = 0
        and is_enabled = 1
    </select>
    <!-- 后台查询所有 未删除 -->
    <select id="getAll" resultMap="BaseResultMap">
        select
        type_id, type_name, type_count, created_time, update_time, is_enabled, is_deleted
        from cl_article_type
        where is_deleted = 0
    </select>
    <!-- 修改分类 -->
    <update id="update" parameterType="com.hnxx.zy.clms.core.entity.ArticleType">
        update cl_article_type set
        version = version + 1
        <if test="typeName!=null and typeName!=''">
            ,type_name = #{typeName}
        </if>
        <if test="typeCount!=null">
            ,type_count = #{typeCount}
        </if>
        where type_id = #{typeId}
        and version = #{version}
    </update>
    <!-- 根据id删除 逻辑删除只更新 is_deleted 字段 -->
    <update id="deleteById" parameterType="java.lang.Integer">
        update cl_article_type set
        is_deleted = 1
        where type_id = #{id}
    </update>
    <!-- 更新启用状态 -->
    <update id="updateEnable" parameterType="com.hnxx.zy.clms.core.entity.ArticleType">
        update cl_article_type set
        version = version + 1,
        is_enabled = #{isEnabled}
        where type_id = #{typeId}
        and version = #{version}
    </update>


</mapper>

