<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnxx.zy.clms.core.mapper.ArticleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hnxx.zy.clms.core.entity.Article">
        <id property="articleId" column="article_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleAuthor" column="article_author"/>
        <result property="articleImage" column="article_image"/>
        <result property="articleContent" column="article_content"/>
        <result property="articleGood" column="article_good"/>
        <result property="articleRead" column="article_read"/>
        <result property="articleCollection" column="article_collection"/>
        <result property="articleType" column="article_type"/>
        <result property="articleComment" column="article_comment"/>
        <result property="articleSource" column="article_source"/>
        <result property="createdTime" column="created_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="version" column="version"/>
    </resultMap>
    <!-- 通用查询列 -->
    <sql id="Base_Column_list">
        article_id, article_title, article_author, article_image, article_content,
        article_good, article_read, article_collection, article_type, article_comment,
        article_source, created_time, update_time, is_enabled, is_deleted, version
    </sql>
    <!-- 保存 -->
    <insert id="save" parameterType="com.hnxx.zy.clms.core.entity.Article">
        insert into cl_article(
            article_title, article_author, article_image, article_content, article_type, article_source
        ) values (
            #{articleTitle}, #{articleAuthor}, #{articleImage}, #{articleContent}, #{articleType}, #{articleSource}
        )
    </insert>
    <!-- 根据id查询 后台 -->
    <select id="getById" resultMap="BaseResultMap">
        select
        article_id, article_title, article_author, article_image, article_content,
        article_good, article_read, article_collection, article_type, article_comment,
        article_source, created_time, update_time, is_enabled, is_deleted, version
        from cl_article
        where article_id = #{id}
        and is_deleted = 0
    </select>
    <!-- 更新 -->
    <update id="update" parameterType="com.hnxx.zy.clms.core.entity.Article">
        update cl_article set
        version = version + 1
        <if test="articleTitle!=null and articleTitle!=''">
            ,article_title = #{articleTitle}
        </if>
        <if test="articleAuthor!=null and articleAuthor!=''">
            ,article_author = #{articleAuthor}
        </if>
        <if test="articleImage!=null and articleImage!=''">
            ,article_image = #{articleImage}
        </if>
        <if test="articleContent!=null and articleContent!=''">
            ,article_content = #{articleContent}
        </if>
        <if test="articleGood!=null">
            ,article_good = #{articleGood}
        </if>
        <if test="articleRead!=null">
            ,article_read = #{articleRead}
        </if>
        <if test="articleCollection!=null">
            ,article_collection = #{articleCollection}
        </if>
        <if test="articleType!=null">
            ,article_type = #{articleType}
        </if>
        <if test="articleComment!=null">
            ,article_comment = #{articleComment}
        </if>
        <if test="articleSource!=null and articleSource!=''">
            ,article_source = #{articleSource}
        </if>
        where article_id = #{articleId}
        and version = #{version}
    </update>
    <!-- 根据id删除 -->
    <update id="deleteById" parameterType="java.lang.Integer">
        update cl_article set
        is_deleted = 1
        where article_id = #{id}
    </update>
    <!-- 分页查询 -->
    <select id="getByPage" resultMap="BaseResultMap" parameterType="com.hnxx.zy.clms.common.utils.Page">
        select * from cl_article
        where is_deleted = 0
        <if test="params.blogTitle!=null and params.blogTitle!=''">
            and article_title like CONCAT('%', #{params.articleTitle}, '%')
        </if>
        <if test="params.articleType!=null">
            and article_type = #{params.articleType}
        </if>
        <if test="sortColumn!=null and sortColumn!=''">
            order by ${sortColumn} ${sortMethod}
        </if>
        limit #{index}, #{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="getCountByPage" resultType="java.lang.Integer" parameterType="com.hnxx.zy.clms.common.utils.Page">
        select count(*) from cl_article
        where is_deleted = 0
        <if test="params.articleTitle!=null and params.articleTitle!=''">
            and article_title like CONCAT('%', #{params.articleTitle}, '%')
        </if>
        <if test="params.articleType!=null">
            and article_type = #{params.articleType}
        </if>
    </select>
    <!-- 更新文章状态 -->
    <update id="updateEnable" parameterType="com.hnxx.zy.clms.core.entity.Article">
        update cl_article set
        version = version + 1,
        is_enabled = #{isEnabled}
        where article_id = #{articleId}
        and version = #{version}
    </update>

</mapper>